// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body {
    background-color: #FBFBFB;
    font-family: 'Montserrat', sans-serif;
    color: $primary;
}

br {
    display: none;
}

/* Contenedores ---*/

.container-fluid {
    width: 1480px;
}

/* Cards ---*/

.card {
    border: 0;
}

.card-deck .card {
    margin-right: 5px;
    margin-left: 5px;
}

.card-img {
    border-radius: 0;
}

.z-index-2 {
    z-index: 2!important;
    position: inherit;
}

.shadow {
    box-shadow: 0 10px 40px 0 rgba(47,47,47,.1) !important;
}

/* Espacio negativo ---*/

.n-sm {
    position: relative;
    top: -20px;
}

.n-lg {
    position: relative;
    top: -200px; 
    margin-bottom: -150px;
}

/* Elementos de color ---*/
    /*Background---*/
    
.bg-primary {
    background: $primary;
}

.bg-dark {
    background: $dark;
}

.bg-azul {
    background: $azul;
}

.bg-verde {
    background: $verde;
}

/*Texto---*/

.tx-verde, verde {
    color: $verde;
}

.tx-dark {
    color: $dark;
}

.tx-azul {
    color: $azul;
}


/* Tipografías y fuentes ---*/

h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
}

h3 {
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: -0.006em;
    font-family: 'Open Sans', sans-serif;
}

.tp-uno {
    font-family: 'Montserrat', sans-serif;
}

.tp-dos {
    font-family: 'Open Sans', sans-serif;
}

.tx-xl, .titulos {
    font-size: 47px;
}

.tx-lg {
    font-size: 32px;
}

.tx-md, .subtitulos {
    font-size: 24px;
}

.tx-sm {
    font-size: 16px;
}
    
/*Estilos de imagen ---*/
img {
    object-fit: cover;
}

img.img-md {
    height: 550px;
    @include media-breakpoint-down(md) { height: 550px; }
}

img.card-blog {
    height: 200px;
}

/* -------------------------------------------------------------------------------- */
/*	2. Navbar
/* -------------------------------------------------------------------------------- */

// #wrapper-navbar { //Para bajar el nav al nivel del header
//     position: fixed;
//     width: 100%;
// }

/* Responsive Navbar ---*/
body .navbar-collapse.show {
    position: fixed;
    z-index: -1;
}

.navbar-collapse.show {
    top: 0;
    left: 0;
    background-color: $dark;
    margin: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    -webkit-box-shadow: 0 10px 40px 0 rgba(47,47,47,1)!important;
    transform: translate(0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.navbar-collapse.collapsing { //Transición entre .navbar-collapse y .navbar-collapse.show
    display: none;
}

li {
    margin-left: 30px;
}

nav img.img-fluid {
    width: 40% !important;
}

.nav-link {
    font-size: $tx-sm;
    @include media-breakpoint-down(md) { font-size: $tx-lg; }
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .active>.nav-link {
    border-bottom: 1px solid $verde !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    border-radius: 0;
    color: transparent !important;
    border-color: transparent !important;
    }

.navbar-toggler input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
.navbar-toggler span
  {
    display: flex;
    width: 29px;
    height: 2.3px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.30s ease;
  }
  
.navbar-toggler span:first-child {
    transform-origin: 0% 0%;
  }
  
.navbar-toggler span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
.navbar-toggler input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -15px);
    background: $verde;
  }
.navbar-toggler input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
.navbar-toggler input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0,15px);
  } 

  @include media-breakpoint-down(md) { //Breakpoint
    
    ul#main-menu {
        padding-top: 125px;
    }

    #main-menu li {
        margin: 20px 30px 0;
        text-align: center;
        font-size: $tx-lg;
    }

    .navbar-dark .navbar-nav .active>.nav-link {
        border-bottom: 0px solid #5663f7!important;
    }

    nav img.img-fluid {
        width: 50% !important;
    }

  }

//   .navbar-collapse.collapse ~ ul {
//     transform: none;
//   }


/* -------------------------------------------------------------------------------- */
/*	3. Header
/* -------------------------------------------------------------------------------- */

.blend-azul {
    background: $azul;
}

.header .card-img-overlay { 
    padding: 6rem 594px 288px 0;
    @include media-breakpoint-down(md) { padding: 5.3rem 2rem; }
}

.header .tx-header {
    font-size: 40px;
    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
}

.sft-lgt {
    mix-blend-mode: soft-light;
}

.textwidget p {
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* -------------------------------------------------------------------------------- */
/*	4. Especialidades
/* -------------------------------------------------------------------------------- */

.widget-especiales-1, .widget-especiales-3, .widget-especiales-5 {
    background-color: $dark;
    border-radius: .25rem .25rem 0 0;
}

.widget-especiales-2, .widget-especiales-4, .widget-especiales-6 {
    padding: 2.2rem 3rem 0 3rem;
}

[class*="wp-image-"] {
    width: 50%;
    padding: 3rem 0 3rem;
    @include media-breakpoint-only(md) { width: 50%; }
}

/* -------------------------------------------------------------------------------- */
/*	4. Certificaciones
/* -------------------------------------------------------------------------------- */

.certificaciones img {
    padding: 0;
    margin: auto!important;
}

.card-deck {
    display: inherit;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-flow: row wrap;
}

/* -------------------------------------------------------------------------------- */
/*	6. Formulario de contacto
/* -------------------------------------------------------------------------------- */

form p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.form-control {
    background-color: #FBFBFB;
    border: 0;
    border-radius: 0;
    @include media-breakpoint-down(xs) { font-size: .6rem; }
}

.post-26 .entry-title {
    display: none;
}

input::-webkit-input-placeholder { /* Edge */
    color: red;
  }
  
input:-ms-input-placeholder { /* Internet Explorer */
    color: red;
  }
  
input::placeholder {
    color: red;
  }

/* -------------------------------------------------------------------------------- */
/*	7.  Footer
/* -------------------------------------------------------------------------------- */

/* Logotipo ----*/
.w-35 {
    width: 35% !important;
    @include media-breakpoint-down(md) { display: block;
     }
}

/* Medios sociales ----*/
#wrapper-footer ul.follow {
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
    
    @include media-breakpoint-down(md) {
        justify-content: center!important;
     }
}

#wrapper-footer .follow li {
    margin-left: 15px;
}

/* Menú ----*/
#menu-footer {
    color: white;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    display: flex;
    flex-wrap: wrap;
}

ul#menu-footer li {
    display: inline-block;
    margin-left: 0;
}

ul#menu-footer li a {
    color:white;
    font-size: 12px;
}

    /* Medios sociales follow ----*/
#wrapper-footer i {
    color: white;
}





